<main class="main_container">
  <%= render 'users/sidebar'%>    
  <div class="main_content">
    <div class="main_content_head">
      <h3 class="content_head_title"><%= t('.edit_address') %></h3>
    </div>
    <%= render 'form_contact'%>
  </div>
</main>
