<main class="main_container">    
  <div class="main_content">
    <div class="main_content_head">
      <h3 class="content_head_title"><%= t('.edit_product') %></h3>
    </div>
    <%= render 'form_product'%>
  </div>
</main>
