<header class="main_header">
	<div class="header_container">
		<div class="header_top">
			<div class="header_top_left">
				<span class="header_top_left_item">Kênh Người Bán </span>
				<span class="header_top_left_item">Tải ứng dụng</span>
				<span class="header_top_left_item">Kết nối </span>
			</div>

			<div class="header_top_right">
				<span>Thông báo</span>
				<span>Hỗ Trợ</span>
				<span>Tiếng Việt</span>
				<span class="header_top_right_avt_group">
					<img src="https://i.pinimg.com/736x/b1/d3/a6/b1d3a6d64e26399b57e51b0bd77c6c19.jpg" alt="avatar" class="header_top_right_avt">
					<span>Khang Dam</span>
				</span>
			</div>
		</div>

		<div class="header_below"></div>
	</div>
</header>
